* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial;
}

body {
	font-size: 14px;
	line-height: 1.4em;
	padding: 2em;
	/* max-width: 50em; */
	margin: 0 auto;
}

@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
}

a {
	margin-left: 20px;
	font-size: 18px;
	color: #2b7bb9;
	text-decoration: none;
}
h1 {
	line-height: 1.2em;
}

h1, h2, p, form, ul, ol, svg {
	margin-bottom: 1em;
}

ul, ol {
	margin-left: 2em;
}

#play {
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #ddd;
	cursor: pointer;
	font-size:1em;
	display:block;
	width: 100%
}

#result {
	padding: 1em;
	font-size: 1.3em;
	margin-bottom: 1em;
}

svg {
	margin-top:20px;
	border: 1px solid #eee;
}

svg .progress {
	fill: red;
}

.small {
	font-size: 0.8em;
}

form {
	padding: 0.5em;
}

#beginPanel {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.8;
    color: white;
    transition: opacity 0.4s;
}

#container{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button{
    top: 20px;
    left: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    letter-spacing: 0.01em;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    margin-left:20px;
}
.button:hover{
    opacity: 1;
}

input{
    display: none;
}

.tips{
	/* margin-left: 50%; */
}